@media (max-width: 941px) {
    body{
        font-size: 16px;
        padding: 80px 0 0 0;
    }
    .headContent{
        flex-direction: column;
    }
    .map iframe{
        width: 100%;
        max-width: 1200px;
    }
    .table_1{
        overflow: scroll;
        font-size: 12px;
    }
    .table_2{
        overflow: scroll;
        font-size: 12px;
    }
    .table_3{
        overflow: scroll;
        font-size: 12px;
    }
    nav ul{
        top: 86px;
        padding-left: 5px;
    }
    nav li{
        font-size: 16px;
    }
    .maincont{
        gap: 5px;
    }
    .sidebar {
        display: flex;
        justify-content: space-between;
        width: -webkit-fill-available;
        padding: 10px;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .video{
        width: 100%;
    }
    .navigation{
        justify-content: center;
        align-items: flex-end;
    }
    .grid-conteiner{
        gap: 0px;
    }
    .modal-content{
        max-width: 400px;
        overflow: auto;
        max-height: 100vh;
        position-area: center;
    }
}